<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 style="text-align: center;">All Books</h2>
    </div>
    <div class="panel-body">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books | async">
                    <td>{{book.id}}</td>
                    <td>{{book.title.slice(0,25)}}</td>
                    <td>{{book.description.slice(0,50)}}</td>
                    <td>{{book.author}}</td>
                    <td>
                        <button (click)="updateBook(book.id)" class="btn btn-success">Edit</button>
                        <button (click)="deleteBook(book.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                        <button (click)="bookDetails(book.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
